.dashboard-form-wrapper{
    margin-top: 40px;
}

.private-acnt-radio{
    padding: 0 !important;
}

.form-check-input {
    position: relative !important;
    margin-left: 0 !important;
    margin-right: 10px;
}

.upload-button-dashboard {
    text-align: center;
}

.followers-info-header-wrapper {
    align-self: end;
}

.f-info-header-count{
    font-weight: 700;
}

.f-info-header{
    color:#212529;
    font-size: 14px;
}

.transaction-month-wrapper{
    border:0.1px solid #ced4da;
}

.cell-amount-wrapper{
    border-left: 1px solid #ced4da;
    color: #212529;
}

.cell-month-wrapper{
    background-color: #e9ecef;
    font-weight: 14px;
    color:#495057;
}