.dashboard-form-wrapper{
    margin-top: 40px;
}

.private-acnt-radio{
    padding: 0 !important;
}

.form-check-input {
    position: relative !important;
    margin-left: 0 !important;
    margin-right: 10px;
}

.upload-button-dashboard {
    text-align: center;
}