@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* { 
  font-family:"Poppins";  
}

.header {
  display: flex;
  justify-content: center;
  padding: 3rem 0 1rem;
}

.header a {
  text-align: center;
  padding: 0.5rem 3rem;
  border-radius: 40px;
  /* margin: 0 0.5rem; */
  transition: 0.5s;
  color: #555;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #d4d5d9;
  background: #fefefe;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.header a:hover {
  background: #56baed;
  color: #fafafa;
  text-decoration: none;
}

.login-header-btn , .signup-header-btn {
  width: 50%;
}

.header-btn{
  width: 450px;
  display: flex;
}

.header-btn-gap{
  width: 1rem;
}