.header {
  display: flex;
  justify-content: center;
  padding: 3rem 0 1rem;
}

.header a {
  text-align: center;
  padding: 0.5rem 3rem;
  border-radius: 40px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  margin: 0 0.5rem;
  transition: 0.5s;
  color: #555;
  font-weight: 500;
}

.header a:hover {
  background: #56baed;
  color: #fff;
  text-decoration: none;
}
